<% include ../partials/heading %>

<div class='container'>
    <div class='row'>
        <div class='col col-12'>
            <h1><%= username %>'s Dashboard</h1>
            <a class="btn btn-outline-primary" href="/new">
                <i class="fas fa-plus"></i> New Task
            </a>
        </div>
    </div>
    <hr>
    <div class='row'>
        <% if (tasks.length <= 0) { %>
            <p class='lead mx-auto'>Looks like you have no active tasks currently...</p>
        <% } else { %>
            <div class='col'>
                <table class='table table-striped text-center' id='dashboardTable'>
                    <thead class='thead-dark'>
                        <tr>
                            <th scope='col'>Due</th>
                            <th scope='col'>Name</th>
                            <th scope='col'>Status</th>
                            <th scope='col'>Channel</th>
                            <th scope='col'>Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% tasks.forEach(function(task) { %>
                            <tr>
                                <th scope='row'>
                                    <form action='<%= task.id %>?_method=DELETE' method='POST'>
                                        <span data-toggle="modal" data-target="#taskDeleteWarning">
                                            <button type='submit' data-toggle="tooltip" data-placement="bottom" title="Delete" 
                                                    class="btn btn-light btn-sm mr-auto float-left" name='taskDeleteBtn'>
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                        </span>
                                    </form>
                                    <%= moment(task.due).format('YYYY-MM-DD') %>
                                    <a data-toggle="tooltip" data-placement="bottom" title="Edit" 
                                      href="<%= task.id %>/edit" class="btn btn-light btn-sm ml-auto float-right">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                </th>
                                <td><%= task.name %></td>
                                <td><%= task.status %></td>
                                <td><%= task.channel %></td>
                                <% if (task.notes) { %>
                                    <td><%= task.notes %></td>
                                <% } else { %>
                                    <td>N\A</td>
                                <% } %>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
                
                <!-- modal -->
                <div class="modal fade text-center" id="taskDeleteWarning" tabindex="-1" role="dialog" aria-labelledby="taskDeleteWarning" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title" id="exampleModalLabel">Are you sure you want to delete the task?</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <em class="text-muted">Warning: This action is irreversible</em>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Go Back</button>
                                <button type="button" class="btn btn-sm btn-danger" id="modalDeleteBtn">Delete</button>
                            </div>
                        </div>
                    </div>
                </div> <!-- modal -->
            </div> <!-- col -->
        <% } %>
    </div>
</div>

<% include ../partials/footer %>