<% include partials/heading %>

<% var status = ['To Do', 'In Progress', 'Completed', 'Stuck']; %>
<% var channels = ['Personal', 'Work']; %>

<div class='container'>
    <div class='row text-center'>
      <div class='col col-12 mt-4'>
        <ul class="nav nav-tabs">
          <li class="nav-item">
              <a class='nav-link disabled' href="#"><i class="fas fa-plus"></i></a>
            </li>
          
          <% channels.forEach(function(ch) { %>
            <li class="nav-item">
              <a class='nav-link <% if(ch === tab){ %>active<%}%>' data-toggle="tab" href="#<%= ch %>"><%= ch %></a>
            </li>
          <% }); %>
          <li class="nav-item ml-auto">
            <a class='nav-link' data-toggle='tab' href='#history'><i class="fas fa-history"></i> Archive</a>
          </li>
        </ul> <!-- nav-tabs -->
      </div>
      
      <div class='tab-content'>
        <!-- Display channels -->
        <% channels.forEach(function(ch) { %>
          <div id="<%= ch %>" class="tab-pane fade <% if(ch === tab){ %>show active<%}%>">
            <div class='row'>
              <% status.forEach(function(s) { %>
                <div class='col col-12 col-sm-3'>
                  <!-- Display status headings -->
                  <% if (s === status[0] ) { %>
                    <p class='status-heading btn btn-primary'><%= s %></p>
                  <% } %>
                  <% if (s === status[1] ) { %>
                    <p class='status-heading btn btn-warning'><%= s %></p>
                  <% } %>
                  <% if (s === status[2] ) { %>
                    <p class='status-heading btn btn-success'><%= s %></p>
                  <% } %>
                  <% if (s === status[3] ) { %>
                    <p class='status-heading btn btn-danger'><%= s %></p>
                  <% } %>
                  
                    <% tasks.forEach(function(task) { %>
                      <% if (task.channel === ch && task.status === s) { %>
                        <div class='card mb-4 pb-1'>
                          <!-- Display delete and edit buttons -->
                          <span class='hide'>
                            <a data-toggle="tooltip" data-placement="bottom" title="Delete" 
                            href="<%= task.id %>/delete" class="btn btn-light btn-sm mr-auto float-left">
                              <i class="fas fa-trash-alt"></i>
                            </a>
                            <!--Only display Archive button if Completed-->
                            <% if (task.status === 'Completed') { %>
                              <a data-toggle="tooltip" data-placement="bottom" title="Archive" 
                              href="<%= task.id %>/archive" class="btn btn-light btn-sm mx-auto">
                                <i class="fas fa-archive"></i>
                              </a>
                            <% } %>
                            <a data-toggle="tooltip" data-placement="bottom" title="Edit" 
                            href="<%= task.id %>/edit" class="btn btn-light btn-sm ml-auto float-right">
                              <i class="fas fa-edit"></i>
                            </a>
                          </span>
                          
                          <!-- card content -->
                          <h5 class="card-title">
                            <%= task.name %>
                          </h5>
                          <p class="text-muted">Due: <%= moment(task.due).fromNow() %></p>
                          <% if (task.notes) { %>
                          <p class='card-text'>Notes: <%= task.notes %></p>
                          <% } %>
                          <div class='button-group hide'>
                            <% if (s !== status[0] ) { %>
                              <a href="<%= task.id %>/todo" class="btn btn-outline-primary btn-sm my-auto">To Do</a>
                            <% } %>
                            <% if (s !== status[1] ) { %>
                             <a href="<%= task.id %>/inprogress" class="btn btn-outline-warning btn-sm my-auto">In Progress</a>
                            <% } %>
                            <% if (s !== status[2] ) { %>
                              <a href="<%= task.id %>/completed" class="btn btn-outline-success btn-sm my-auto">Completed</a>
                            <% } %>
                            <% if (s !== status[3] ) { %>
                              <a href="<%= task.id %>/stuck" class="btn btn-outline-danger btn-sm my-auto">Stuck</a>
                            <% } %>
                          </div>
                        </div> <!-- card -->
                      <% } %>
                    <% }); %>
                </div> <!-- col -->
              <% }); %> <!-- forEach(s) -->
            </div> <!-- row -->
          </div> <!-- tab-pane -->
        <% }); %> <!-- forEach(ch) -->
        
        <!--Display History-->
        <div id='history' class='tab-pane fade'>
          <table class='table table-striped mt-5'>
            <thead class='thead-dark'>
              <tr>
                <th scope='col'>Name</th>
                <th scope='col'>Completion Date</th>
                <th scope='col'>Due Date</th>
                <th scope='col'>Notes</th>
                <th scope='col'>Channel</th>
              </tr>
            </thead>
            <tbody>
              <% archives.forEach(function(task) { %>
                <tr>
                  <th scope='row'><%= task.name %></th>
                  <td><%= moment(task.completionDate).format('YYYY MMMM DD') %></td>
                  <td><%= moment(task.due).format('YYYY MMMM DD') %></td>
                  <% if (task.notes) { %>
                    <td>Notes: <%= task.notes %></td>
                  <% } else {%>
                    <td>N\A</td>
                  <% } %>
                  <td><%= task.channel %></td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      
      </div> <!-- tab-content -->
      
    </div> <!-- row -->
</div> <!-- container -->

<% include partials/footer %>
