<% include ../partials/heading %>

<% var status = ['To Do', 'In Progress', 'Completed', 'Stuck']; %>

<div class='container'>
    <div class='row text-center'>
      
      <% status.forEach(function(s) { %>
        <div class='col col-sm-3'>
          <% if (s === status[0] ) { %>
            <p class='status-heading btn btn-secondary'><%= s %></p>
          <% } %>
          <% if (s === status[1] ) { %>
            <p class='status-heading btn btn-primary'><%= s %></p>
          <% } %>
          <% if (s === status[2] ) { %>
            <p class='status-heading btn btn-success'><%= s %></p>
          <% } %>
          <% if (s === status[3] ) { %>
            <p class='status-heading btn btn-danger'><%= s %></p>
          <% } %>
          
            <% tasks.forEach(function(task) { %>
              <% if (task.status === s ) { %>
                <div class='card mb-4 pt-2'>
                  <span>
                    <a href="<%= task.id %>/delete" class="btn btn-light btn-sm mr-auto hide float-left">
                      <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </a>
                    <a href="<%= task.id %>/edit" class="btn btn-light btn-sm ml-auto hide float-right">
                      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </a>
                  </span>
                  
                  <h5 class="card-title">
                    <%= task.name %>
                  </h5>
                  <p class="text-muted">Due: <%= moment(task.due).fromNow() %></p>
                  <% if (task.notes) { %>
                  <p class='card-text'>Notes: <%= task.notes %></p>
                  <% } %>
                  <div class='button-group hide'>
                    <% if (s !== status[0] ) { %>
                      <a href="<%= task.id %>/todo" class="btn btn-outline-secondary btn-sm my-auto">To Do</a>
                    <% } %>
                    <% if (s !== status[1] ) { %>
                     <a href="<%= task.id %>/inprogress" class="btn btn-outline-primary btn-sm my-auto">In Progress</a>
                    <% } %>
                    <% if (s !== status[2] ) { %>
                      <a href="<%= task.id %>/completed" class="btn btn-outline-success btn-sm my-auto">Completed</a>
                    <% } %>
                    <% if (s !== status[3] ) { %>
                      <a href="<%= task.id %>/stuck" class="btn btn-outline-danger btn-sm my-auto">Stuck</a>
                    <% } %>
                  </div>
                </div>
              <% } %>
            <% }); %>
        </div>
      <% }); %>
    </div>
</div>

<% include ../partials/footer %>

<% function formatDate(date) {
  var monthNames = [
    "January", "February", "March",
    "April", "May", "June", "July",
    "August", "September", "October",
    "November", "December"
  ];

  var day = date.getDate();
  var monthIndex = date.getMonth();
  var year = date.getFullYear();

  return day + ' ' + monthNames[monthIndex] + ' ' + year;
}
%>